* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Comfortaa', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #FFEFD5;
}
.quiz_container {
	background-color : #FFE4B5;
	padding: 20px;
	border-radius: 16px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	max-width: 800px;
	width: 100%;
	text-align: center;
}
.question {
	font-size: 24px;
	margin-bottom: 15px;
}
.options {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.option {
	padding: 10px;
	border: 2px solid;
	border-radius: 12px;
	background-color: #FFC0CB;
	cursor: pointer;
	transition: background 0.6s;
}
.option:hover {
	background-color: #DA70D6;
}
.option.correct {
	background: #00FF00;
}
.option.incorrect {
	background: #FF0000;
}
.feedback {
	margin-top: 20px;
	font-size: 22px;
	font-weight: bold;
}

.main_button {
	margin-top: 25px;
	padding: 15px;
	background-color: #BA55D3;
	border-radius: 18px;
	border: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	display: none;
}
.main_button:hover {
	background-color: #800080;
}